.footer {
    padding-top: rem(50);
    padding-bottom: rem(50);
    border-top: rem(1) solid $white2;

    &__menu {

        &:not(:last-child){
            margin-bottom: rem(28);
        }
    }

}
.menu-footer {


    &__list {
        display: flex;
        column-gap: rem(48);
        row-gap: rem(15);
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__link {
        line-height: 1.5;
        padding-left: rem(34);

        &:hover{
            text-decoration: underline;
        }

        &_home {
            background: url('/img/footer/menu/01.svg') left no-repeat;
        }

        &_about {
            background: url('/img/footer/menu/02.svg') left no-repeat;
        }

        &_contact {
            background: url('/img/footer/menu/03.svg') left no-repeat;
        }
    }
}