.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: rem(1) solid $white2;
    background-color: $black2;
    z-index: 50;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(15);
        padding-top: rem(30);
        padding-bottom: rem(30);
    }
}
.menu {
    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: rem(40);
        row-gap: rem(3);
        align-items: center;
    }

    &__link {
        color: $white0;
        transition: color 0.3s ease 0s;

        &:hover {
            color: $green0;
        }
    }
}

@media (max-width: rem(500)) {
    .header__container {
        flex-direction: column;
        padding-top: rem(10);
        padding-bottom: rem(10);
        gap: rem(10);
    }
    .menu__list {
        column-gap: rem(20);
    }
}
